<div class="row">
    <div class="header large-9 large-centered columns">
        <a class="brand" href="#/">
            <img src="./img/rockabelly_white.jpg" alt="rockabelly" />
        </a>
    </div>
</div>
<div class="row">
  <div class="large-9 small-centered columns">
    <nav class="top-bar">
      <section class="top-bar-section">
      <ul class="center">
        <li><a href="#/dancers">Dancers</a></li>
        <li><a href="#/store">Store</a></li>
        <li><a href="#/visuals">Visuals</a></li>
        <li><a href="#/classes">Classes</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li><a href="#/events">Events</a></li>
      </ul>
      </section>
    </nav>
  </div>
</div>
