
<div class="row">
  <div class="large-9 large-centered columns">

   
  </div>
</div>

<div class ="row">
  <div class="large-4 columns">
  	<div align="center">
  	<ul>
  		<li><h3>OFFSTAGE</h3></li>
  		
  		<li><h3>2015</h3></li>
  		
  		<li><img src="./img/2015stairs.jpg" alt="Playing on the stairs" width= "700"></li>
  		
  		<li><h3>2014</h3></li>
  	
  	<li><img src="./img/playthingsrakassah2014.jpg" alt="RockaBelly and The Playthings at Rakassah 2014" width="700"></li>
  	
  	<li><h3>2013</h3> </li>
     <li><img src="./img/playthings kiss.jpg" alt="First show!" width="700"></li>
     
  </ul>
  </div>
  </div>

  
  <div class="large-4 columns">
  	<div align="center">
    <ul>
    	<li><h3>ONSTAGE</h3></li>
    		<li><h3>2015</h3></li>
    		
    		<li><img src="./img/2015rockabellyletters.jpg" alt="Tribal Fest 2015" width= "700"></li>
  		
    		<li><h3>2014</h3></li>
    		 <li><img src="./img/playthingsradiant.png" alt="Shiny Tambourines for These Boots Are Made For Walkin" width= "700"></li>
  	
    		 <li><img src="./img/playthingsballsbeginning.jpg" alt="Moon Lights" width="700"></li>
    		 <li><img src="./img/playthingszombies2013.png" alt="Christine Melissa Kirstin Zombies" width="700"></li>
    		
    		 
    
    </ul>
  </div>
</div>

