
<div class="row">
  <div class="large-9 large-centered columns">
    <ul>
    	<li>Current and Former Guest Artists with RockaBelly</li>
    </ul>
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <li>Amberetta</li>
    <img src="./img/amberettacycle.gif" alt="Amberetta on motorcycle" width="700">
    <li>Amber</li>
    <img src="./img/ambercycle.gif" alt="Amber on motorcycle" width="700">
    <li>Gia</li>
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>Noelle</li>
    	<img src="./img/noellecycle.gif" alt="Noelle on motorcycle" width="700">
    	<li>Lorraine</li>
    	<li>Marli</li>
    	<li>Mitara</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>Raven</li>
    	<img src="./img/ravencycle.gif" alt="Raven on motorcycle" width="700">
    	<li>Scottie</li>
    	<li>Stephanie</li>
    	
    </ul>
  </div>
</div>
