<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/rockabellyclass.jpg" alt="rockabellyclass.jpg" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <h3>Thursday Classes in West Oakland, CA</h3>
    <h3></h3>
    <h4>Ellen Webb Studio</h4>
    <h4>2822A Union St, Oakland, CA</h4>
    <h3></h3>
    <h4>5:30- 6:45 Beginning Technique flowing into Stretch, Strengthen and Drill</h4>
    <h4>6:00- 7:30 Stretch, Strengthen, and Drill flowing into Intermediate Technique</h4>
    <h3></h3>
    <h4>$15 drop in, Class cards available</h4>
    <h4>Call, email or Text to let us know you are coming 510.593.5591</h4>
    <h3></h3>
    <h4>Come to class in clothes you feel good and comfortable in.</h4> 
    <h3></h3>
    <h4>Stay for half the class, or for the full two hours and really work out.</h4>
  </div>
  <div class="large-4 columns">
  	<li>Holiday break Dec 18- Jan 1 No classes</li>
  	<li>Midwinter session Jan 8- Mar 5)</li>
  	
    <h3>Sign up for our bi-monthly<a href="mailto:rockakamille@yahoo.com"> mailing list</a></h3>
    <h3></h3>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg"></img></a></h3>
   
  </div>  
  <div class="large-4 columns">
  	<h3>We believe in building Dancers</h3>
    <ul>
        <li> Our classes include a full warmup including stretching, strengthening, and drilling.</li>
        <li> RockaBelly wants to help dancers build their skills and grow.</li>
        <li> Class topics include understanding music, ethnic/folkloric dance styles, playing finger cymbals, and using props such as veils and swords</li>
    </ul>
  </div>
</div>
