<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/rockabellyclass.jpg" alt="rockabellyclass.jpg" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <ul>
    	<li>
    	<h3>Thursday Classes in West Oakland, CA</h3>
    </li>
    
    <li>
    <h4>Ellen Webb Studio</h4>
    <h4>2822A Union St, Oakland, CA</h4>
    </li>
    
    <li>
    <h4>5:30- 6:45 Beginning Technique flowing into Stretch, Strengthen and Drill</h4>
    <h4>6:00- 7:30 Stretch, Strengthen, and Drill flowing into Intermediate Technique</h4>
    </li>
    
    <li>
    <h4>$15 drop in, Class cards available</h4>
    <h4>Call, email or Text to let us know you are coming 510.593.5591</h4>
    </li>
    
    <li>
    <h4>Come to class in clothes you feel good and comfortable in.</h4>
    <h4>Stay for half the class, or for the full two hours and really work out.</h4>
    </li>
    </ul>
    
  </div>
  <div class="large-4 columns">
  	<ul>
  	<li>
  		<h3>New 6 week Late Summer Session starts August 13 through September 17</h3></li>
<li>  		<h4>Can't come the whole time? That's OK. Drop ins are always welcome</h4>
  	</li>
  	<li>Summer Break- No Classes July 30 and Aug 6</li>
  	
  	
  	<li>
    <h3>Sign up for our bi-monthly<a href="mailto:rockakamille@yahoo.com"> mailing list</a></h3>
   </li>
    <li>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg"></img></a></h3>
   </li>
   </ul>
   
  </div>  
  <div class="large-4 columns">
  	 <ul>
  	 	<li>
  	<h3>We believe in building Dancers</h3>
   </li>
        <li> 
        	<h4>Our classes include a full warmup including stretching, strengthening, and drilling.</h4>
        	</li>
        <li> 
        	<h4>RockaBelly wants to help dancers build their skills and grow.</h4>
        	</li>
        <li> 
        	<h4>Class topics include understanding music, ethnic/folkloric dance styles, playing finger cymbals, and using props such as veils and swords. Check back here for special workshops! </h4>
        	</li>
    </ul>
  </div>
</div>
