<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/rockabellyclass.jpg" alt="rockabellyclass.jpg" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <ul>
    	<li>
    	<h3>Thursday Classes in West Oakland, CA</h3>
    </li>
    
    <li>
    <h4>Ellen Webb Studio</h4>
    <h4>2822A Union St, Oakland, CA</h4>
    </li>
    
    <li>
    	<h4>Three week Basics Session</h4>
    <h4>Aug 18- Sep 1 </h4>
    <h4>6:15-7:45pm </h4>
    <h4>Stretch, Strengthen, and Drill flowing into Technique</h4>
    
    </li>
    
    <li>
    	<h4>More advanced? Come to basics class and bring zills or something to balance on your head!</h4>
    <h4>$15 drop in, $36 for the 3 class session</h4>
    <h4>Call, email or Text to let us know you are coming 510.593.5591</h4>
    </li>
    
    <li>
    <h4>Come to class in clothes you feel good and comfortable in.</h4>
  
    </li>
    </ul>
    
  </div>
  <div class="large-4 columns">
  	<ul>
  	<li>
  		<h3>This Summer- Rhythm Workshops!</h3>
  		<h4>Each class will focus on a few different drum rhythms. We will learn to play them on zills (or the drum if students are interested), learn movements that work with them, and practice improvising to them. </h4>
  		<h4> Get more in tune with the music and up your game as a dancer!</h4>
  		<h4>Two sessions</h4>
  		<h4>June 23 and 30</h4>
  		<h4>July 14 and 21</h4>
  		<h4>$15 to drop in, $48 for all four workshops</h4>
</li>

  	
  	
  	<li>
    <h3>Sign up for our bi-monthly<a href="mailto:rockakamille@yahoo.com"> mailing list</a></h3>
   </li>
    <li>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg"></img></a></h3>
   </li>
   </ul>
   
  </div>  
  <div class="large-4 columns">
  	 <ul>
  	 	<li>
  	<h3>We believe in building Dancers</h3>
   </li>
        <li> 
        	<h4>Our classes include a full warmup including stretching, strengthening, and drilling.</h4>
        	</li>
        <li> 
        	<h4>RockaBelly wants to help dancers build their skills and grow.</h4>
        	</li>
        <li> 
        	<h4>Class topics include understanding music, ethnic/folkloric dance styles, playing finger cymbals, and using props such as veils and swords. Check back here for special workshops! </h4>
        	</li>
    </ul>
  </div>
</div>
