
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/IMG_4080-de.jpg" alt="RockaBelly Unicorns" width="300">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <ul>
    		<li>How Weird Street Fair April 26th</li>
    		<h4>Stage times TBA</h4>
    	
   </ul>
  </div>
  <div class="large-4 columns">
    <ul>
    <li>Underground Nomads- Free class and show</li>
    	<h4>Tuesday April 28</h4>
        <h4>Doors at 8, show at 9pm</h4>
       <h4>Free bellydance class with Kamille at 8pm!</h4>
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com"/>Underground Nomads</a></h4>
        
        	</li>
    	
    	
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
     	
    	<li>Free Bellydance class with Kamille and RockaBelly show April 30</li>
    	<li><h4>6-7:30pm</h4>
        <h4>Ellen Webb Dance Studio, 2822A Union Street, Oakland, CA</h4>
        <h4>RockaBelly and The Playthings will give a short performance at the end of class!</h4> 
        <h4>Wear clothing you feel comfortable in.</h4>
    </li>
    </ul>
  </div>
</div>
