
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/deneysalonu.jpg" alt="Deney Salonu" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <h4>RockaBelly and The PlayThings Present:</h4>
    <li>Deney Salonu</li>
    <li>Experimental Dance Salon</li>
    <li>March 28</li>
<li>Doors 7:00, Show at 7:30pmpm</li>
<li>Studio 12, 2525 8th St., Berkeley, CA</li>
<li>Suggested $10 donation</li>
<li></li>
  </div>
  <div class="large-4 columns">
    <ul>
    	<p>
    		This is the PERFECT place for dancers to experiment, to try new things, to be nervous in a safe environment. New dancers who are not quite ready for a big stage can try out performing and present their hard work to their friends and family. More advanced and professional dancers can use this event to try out a new piece, try a new prop or style for the first time, or get critique to help them grow. Any performer who would like to get written feedback from the audience may do so. Audience members will be given cards for feedback and may choose to leave feedback for dancers who asked for it.

Within this event we begin to create an intimate community of support, that can give you honest critical response, strengthen you, and encourage your work. This is a unique experience and exciting for both the performer and the audience member. RockaBelly hopes you will come watch, be stimulated, and share in our community.

Interested Performers are welcome to apply, please email Kamille at rockakamille(at)yahoo

Please note: Studio 12 is an active and beautiful dance studio. All visitors must remove their shoes or place covers over them to enter the studio.

Performers and Audience members may choose to opt out of the feedback.


    	</p>
    	
    	
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
     	
    	<li>Food! TBA</li>
    	<li>Hang out after the show and be part of our dance community</li>
    </ul>
  </div>
</div>
