
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/IMG_4080-de.jpg" alt="RockaBelly Unicorns" width="300">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <ul>
    		<li>How Weird Street Fair April 26th</li>
    		<h4>Stage times TBA</h4>
    	
   </ul>
  </div>
  <div class="large-4 columns">
    <ul>
    <li>Underground Nomads- Free class and show</li>
    	<h4>Tuesday April 28</h4>
        <h4>Doors at 8, show at 9pm</h4>
       <h4>Free bellydance class with Kamille at 8pm!</h4>
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com"/>Underground Nomads</a></h4>
        
        	</li>
    	
    	LOOK BELOW FOR OLD EVENTS PAGE!!!!!!
    	
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
     	
    	<li>Free Bellydance class with Kamille and RockaBelly show April 30</li>
    	<li><h4>6-7:30pm</h4>
        <h4>Ellen Webb Dance Studio, 2822A Union Street, Oakland, CA</h4>
        <h4>RockaBelly and The Playthings will give a short performance at the end of class!</h4> 
        <h4>Wear clothing you feel comfortable in.</h4>
    </li>
    </ul>
  </div>
</div>

*******OLD EVENTS PAGE BELOW

<ul>
 	<li>
        		
        		<h4>ROCKABELLY AND THE PLAYTHINGS AT CUES AND TATTOOS</h4>
        		
    	<h4>Saturday April 1- and we're not foolin!</h4>
        <h4>Serpent's Muse Show 12:30-2:30pm</h4>
      
        <h4>Seatlle, WA</h4>
        <h4><a href="https://cuesandtattoos.com/wp/performances/">Cues and Tattoos</a></h4>
        
       </li>
   <li>
        		
        		<h4>KAMILLE WITH KAZUKI KOZURU-SALIFOSKA AT TRIBALCON</h4>
        		
    	<h4>Friday April 7 Showcase</h4>
        
        <h4>Atlanta, GA</h4>
        <h4><a href="https://tribalcon.com/">TribalCon</a></h4>
        
       </li>   
   <li>
        		
        		<h4>KAMILLE SOLO AT UNDERGROUND NOMADS</h4>
        		<h4>FREE for Bay Area Dance Week!</h4>
    	<h4>Tuesday Apr 25</h4>
        <h4>Doors at 8, show at 9pm</h4>
        <h4>Mention Dance week to get in free at the door, 21+</h4> 
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com">Underground Nomads</a></h4>
        
       </li>
 
<li>
 	<h4>FREE CLASS FOR BAY AREA DANCE WEEK</h4>
    	<h4>Thursday April 27</h4>
        <h4>6:00-7:30pm</h4>
        <h4></h4> 
        <h4>Ellen Webb Studio, 2822A Union St., Oakland, CA</h4>
        
        	</li>	
          
   <li>
        		
        		<h4>ROCKABELLY AND THE PLAYTHINGS AT HOW WEIRD STREET FAIRE</h4>
        		<h4>On the Underground Nomads stage!</h4>
    	<h4>Sunday May 7</h4>
        <h4>Show between 1-2pm</h4>
      
        <h4>San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com">Underground Nomads</a></h4>
        
       </li>
 <li>
        		
        		<h4>ROCKABELLY AND THE PLAYTHINGS AT SHAKE THE BAY</h4>
        		
    	<h4>Saturday May 20</h4>
        <h4>8pm</h4>
        <h4>$25 pre sale, $35 at the door</h4> 
        <h4>Brava Theater, San Francisco, CA</h4>
        <h4><a href="http://www.shakethebay.com/">Shake the Bay</a></h4>
        
       </li>
  
       
   
        <li>
 	<h4>SPRING CLASS SESSION</h4>
    	<h4>Thursday April 13- May 25</h4>
        <h4>6:15-7:45pm</h4>
        <h4>$15 drop-in</h4> 
        <h4>Ellen Webb Studio, 2822A Union St., Oakland, CA</h4>
        
        	</li>	