
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/Kamille Cycle.jpg" alt="Kamille and her motorcycle" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
  	<li>Trivia</li>
    <li>Hometown: San Francisco. But has also lived in San Diego, Los Angeles, and New York</li>
    <li>Has also Danced with: Anahid Sofian Dance Company, Ultra Gypsy, Nicole Hannah</li>
    <li>Styles of Dance studied: Balkan line dance, Ethnic dance of Morrocco, Tunisia, Egypt, Persia, India, and Turkey, Cabaret dance of Turkey</li>
    <li>Influential Teachers: Anahid Sofian, Eva Cernik, Zhaleh Fareshteh, Suhalia Salimpour, Jill Parker, Pennsic </li>
    <li>Studies: Kamille has a BFA in Fashion Design from Parsons School of Design, is currently working on a degree in dance from City College of San Francisco, and also teaches in the fashion department at CCSF.</li>
    <li>When not dancing: Kamille likes to snowboard with her "boys" (partner and son), ride her motorcycle and bicycle, design and create fashions and costumes, and play drums. </li>
    <li>Fun Unknown fact: Kamille can quote large sections of the movies Moonstruck and When Harry Met Sally... she watched them a zillion times to stay awake in fashion school</li>
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>Kamille continuously pushes toward unabashed fulfillment. 
    		Passion and an unexpected sense of humor drive her performances. 
    		She uses music of all types to tap in to the audience's own memories to stir their hearts, 
    		and adds to it a deep knowledge of history and ethnic movement to excite their minds. 
    		This lead her to become the fearless leader of RockaBelly in 2004. 
    		She is very proud of RockaBelly's apprentice troupe, The Playthings, which began in 2012.
    		She is happy to be here, and happy to have conquered breast cancer.
    		
    	</li>
    	<img src="./img/kamilleslycorn.jpg" alt="Kamille Hitz Punk Unicorn" width="400">
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
     	
    	<li>
    		<p></p>
    	</li>
    	 <img src="./img/ah.jpg" alt="Kamille Hitz Fire Fans" width="400">
    </ul>
  </div>
</div>
