
<div class="row">
  <div class="large-9 large-centered columns">
  	*This page under construction*
   
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <img src="./img/spinaltap.jpg" alt="RockaBelly as Spinal Tap" width="700">
     <img src="./img/star.jpg" alt="We are Stars" width="700">
  </div>
  <div class="large-4 columns">
    
     <img src="./img/KamRavenRetta.jpg" alt="Kamille Raven Amberetta" width="700">
      <img src="./img/shakedown spring 2012.jpg" alt="Amberetta Kamille Stephanie" width="700">
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<p>Onstage</p>
    		 <img src="./img/onthefloor.jpg" alt="Superheroes" width="700">
    		 <img src="./img/backbendtrio.jpg" alt="Marli Mitara Kamille Rock Me" width="700">
    		  <img src="./img/conterfeit.jpg" alt="Kamille Mitara Rock Me" width="700">
    		 
    	</li>
    </ul>
  </div>
</div>
