

<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/archgroup.jpg" alt="Beautiful RockaBellies" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns border">
    <p>Rockabelly Alumni</p>  </div>
    <li><a href="/alumni#lorraine"> Lorraine</a></li>
    <li><a href="/alumni#marli"> Marli</a></li>
    <li><a href="/alumni#mavi"> Mavi</a></li>
    <li><a href="/alumni#mitara"> Mitara</a></li>
    <li><a href="/alumni#scottie"> Scottie</a></li>
    <li><a href="/alumni#stephanie"> Stephanie</a></li>
    
  </div>
  <div class="large-4 columns border">
    <p>Drop Dead Beauties of Rockabelly</p>  </div>
    <li><a href="/Kamille"> Kamille</a></li>
    <li><a href="/Amber"> Amber</a></li>
    <li><a href="/Amberetta"> Amberetta</a></li>
    <li><a href="/Noelle"> Noelle</a></li>
    <li><a href="/Raven"> Raven</a></li>
  <div class="large-4 columns border">
    <ul>
    	 <p>The RockaBelly Playthings</p>  </div>
       <li><a href="/playthings"> The Playthings</a></li>
       <li><a href="/playthings#christine"> Christine</a></li>
    <li><a href="/playthings#jen"> Jen</a></li>
    <li><a href="/playthings#kirsten"> Kirsten</a></li>
    <li><a href="/playthings#lija"> Lija</a></li>
    <li><a href="/playthings#melissa"> Melissa</a></li>
    </ul>
  </div>
</div>
