

<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/archgroup.jpg" alt="Beautiful RockaBellies" width="700">
  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <p>Drop Dead Beauties of Rockabelly</p>  
   <ul>
   	<li><a href="#/kamille"> Kamille</a></li>
    <li><a href="#/melissa"> Melissa</a></li>
    <li><a href="#/kirsten"> Kirsten
  </div>
  <div class="large-4 columns">
      <ul>
    	<li>
    		<a href="#/playthings">Rockabelly Playthings</a>
    	</li>
    </ul>
   </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<a href="#/guest-artists">Guest Artist</a>
    	</li>
    </ul>
    </div>
</div>