

<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/rockabellytriosepia.gif" alt="Beautiful RockaBellies" width="700">
  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <ul>
    	<li>Drop Dead Beauties of Rockabelly</li>
   	<li><a href="#/kamille"> Kamille</a></li>
    <li><a href="#/melissa"> Melissa</a></li>
    <li><a href="#/kirstin"> Kirstin</a></li>
    </ul>
  </div>
  <div class="large-4 columns">
      <ul>
    	<li>
    		<a href="#/playthings">Rockabelly Playthings</a>
    		<img src="./img/playthingssilly.jpg" alt="The PlayThings" width="300">
    	</li>
    </ul>
   </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<a href="#/guest-artists">Guest Artists</a>
    	</li>
    	<img src="./img/guestrockabellies.jpg" alt="Guest Artist RockaBellies" width="300">
    </ul>
    </div>
</div>