
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/playthings kiss.jpg" alt="The RockaBelly PlayThings" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <li>Christine</li>
    <li>Jenn</li>
    <img src="./img/playthingsballsbeginning.jpg" alt="The RockaBelly PlayThings" width="700">
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>Joanna</li>
    <li>Lija</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<p> The PlayThings are RockaBelly's apprentice troupe. These ladies know how to work hard and have a good time.</p>
    	</li>
    	<img src="./img/playthingszombies2013.png" alt="The RockaBelly PlayThings" width="700">
    </ul>
  </div>
</div>
