
<div class="row">
  <div class="large-9 large-centered columns">
  	<img src="./img/playthingsradiant.png" alt="The PlayThings" width="700">
    
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
  	<img src="./img/jen.png" alt="The RockaBelly PlayThings" width="300">
    <li>Jenn</li>
    <img src="./img/lija.png" alt="The RockaBelly PlayThings" width="300">
    <h3>Lija</h3>
    <img src="./img/playthingsballsbeginning.jpg" alt="The RockaBelly PlayThings" width="700">
  </div>
  <div class="large-4 columns">
    <ul>
    	<img src="./img/joanna.png" alt="The RockaBelly PlayThings" width="300">
    	<li>Joanna</li>
   
    <img src="./img/christine.png" alt="The RockaBelly PlayThings" width="300">
    <li>Christine</li>
    <img src="./img/playthings kiss.jpg" alt="The RockaBelly PlayThings" width="300">
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<p> The PlayThings are RockaBelly's apprentice troupe. These ladies know how to work hard and have a good time.</p>
    	</li>
    	<img src="./img/playthingszombies2013.png" alt="The RockaBelly PlayThings" width="700">
    </ul>
  </div>
</div>
