
<div class="row">
  <div class="large-9 large-centered columns">
    <li></li>
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <img src="./img/rockachickb.jpg" alt="Long Sleeved Tee with RockaBelly Girl Art" width="700">
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>More to Come!
    		
    	</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<img src="./img/thong side.jpg" alt="Rock Me Again Thong" width="700">
    	</li>
    </ul>
  </div>
</div>
