
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/melissa.png" alt="Melissa Red Veil" width="300">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
   <li>Trivia</li>
    <li>Hometown: Concord, CA</li>
    <li>Has also Danced with:  Original Sin Burlesque, as the troupe belly dancer</li>
    <li>Styles of Dance studied:  Cabaret Egyptian, Tribal Fusion, Bollywood, Tap and Ballet</li>
    <li>Influential Teachers:  Sharifa, Kami Liddle, Mardi Love, Jill Parker, Samantha C. Alamity</li>
    <li>Studies: </li>
    <li>When not dancing:   Melissa loves to be outdoors with her hubby, David, and dog, Cora; hiking, camping, backpacking, and kayaking to name a few.  She loves everything about the ocean and lounging on a warm beach; even certified SCUBA.  She also loves to weight train, read all kinds of books, watching BBC shows and action movies.</li>
    
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>
    		<li>Fun Unknown fact: When Melissa just started to learn belly dance, she took a trip to Egypt and danced solo with a live Egyptian band in Giza.  Although she had no idea what she was doing, she knew she would regret not taking the chance for this rare opportunity.  Thank goodness there is no video; just wonderful memories!Melissa also played alto sax for 9 years and was really good at it!  </li>
    	</li>
    	
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<img src="./img/kirstin&melissa.jpg" alt="Flying Veils" width="700">
    	</li>
    </ul>
  </div>
</div>