
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/kirstin.png" alt="Kirstin Red Veil" width="300">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
   <li>Trivia</li>
    <li>Hometown: San Leandro with adventures in Arcata, Las Vegas and Santa Cruz</li>
    <li>Has also Danced with: Lailaa Chandani, Velocity Jazz Dance Company and currently performs with Up Swing Aerial Dance Company</li>
    <li>Styles of Dance studied: Ballet, jazz, modern, tap, aerial dance, pole, cabaret and tribal fusion</li>
    <li>Influential Teachers: Shoshanna Rose, Claudia Cole, Kirsten Gerding, Hana Granados, Abigail Hosein and Dana Lawton </li>
    <li>Studies: Kirstin has a Theatre Arts Degree from Humboldt State and is currently training full time in aerial, pole, modern and belly dance</li>
    
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>
    		
    		
    	</li>
    	<li>When not dancing:  Kirstin likes to spend time with her family, friends and her pets.  She also enjoys cooking, baking and entertaining.</li>
    <li>Fun Unknown fact: Kirstin loves traveling and has visited over a dozen countries.
</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<img src="./img/kirstin&melissa.jpg" alt="Flying Veils" width="700">
    	</li>
    </ul>
  </div>
</div>
