
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/kirstin.png" alt="Kirstin Red Veil" width="500">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
   <li>Trivia</li>
    <li>Hometown: </li>
    <li>Has also Danced with: </li>
    <li>Styles of Dance studied: </li>
    <li>Influential Teachers:  </li>
    <li>Studies: </li>
    <li>When not dancing:  </li>
    <li>Fun Unknown fact: </li>
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>
    		<a href="#/">Check Back Soon</a>
    		<img src="./img/kirstin&melissa.jpg" alt="Flying Veils" width="700">
    	</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<p>For Kirstin</p>
    	</li>
    </ul>
  </div>
</div>
