
<div class="row">

  <div class="large-9 large-centered columns">
    <img src="./img/Wintermoon facebook skinny blue.jpg" alt="Winter Moon" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <h4>RockaBelly and The PlayThings Present:</h4>
    <li>Winter Moon</li>
    <li>December 6th</li>
<li>Doors 7:30, Show at 8:00pm</li>
<li>Studio 12, 2525 8th St., Berkeley, CA</li>
<li>$10 in advance, $15 at the door</li>

  </div>

  <div class="large-4 columns">
    <ul>
    	<li>
    		Advance Ticket Sales are Closed

    	</li>
    	<li>A moonlit night featuring</li>
     	<li>The whimsical lights of RockaBelly and The PlayThings theatrical bellydance</li>
    	<img src="./img/rockabellybackbend.jpg" alt="by taboomedia.com" width="300">
    </ul>
  </div>

  <div class="large-4 columns">

     <ul>
     	
    	<h3>Guest Artists</h3>
     	
     	<li>Gravity defying UpSwing Aerial Dance Company</li>
     	<img src="./img/upswing.jpg" alt="UpSwing Aerial dance company" width="300">
     	<li>Tribal fusion bellydance artists Ego Umbra, with the darker side of the Moon </li>
     	<img src="./img/egoumbra.jpg" alt="by neilgirling.com" width="300">
    <li>Elegant and strong pole dance artist Kirstin</li>
    <img src="./img/kirstinpole.jpg" alt="Kirstin Pole Dance" width="300">
    <li>Aerial artist Danielle expanding the boundaries of the air</li>
    <img src="./img/Ladderaerial.jpg" alt="Danielle" width="300">
    <li>Kirstin and Helen pairing in the air</li>
    <img src="./img/kirstinhelenair.jpg" alt="Kirstin and Helen Fly" width="250">
    </ul>
  </div>
</div>
