
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/wintermoon facebook skinny blue.jpg" alt="Winter Moon" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <h4>RockaBelly and The PlayThings Present:</h4>
    <li>Winter Moon</li>
    <li>December 6th</li>
<li>Doors 7:30, Show at 8:00pm</li>
<li>Studio 12, 2525 8th St., Berkeley, CA</li>
<li>$10 in advance, $15 at the door</li>
<li></li>
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>
    		<a href="#/">For Tickets</a>
    	</li>
    	<li>A moonlit night featuring</li>
     	<li>The whimsical lights of RockaBelly and The PlayThings theatrical bellydance</li>
     	<li>Guest tribal fusion bellydance artists Ego Umbra, with the darker side of the Moon </li>
     	<li>Gravity defying aerial guest artists UpSwing Dance Company, and a flying duet by Kristin and Hannah </li>
    <li>Elegant and strong guest pole dance artists Kirstin and Sasha</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
     	
    	<li>
    		<p>More about our artists</p>
    	</li>
    </ul>
  </div>
</div>
