<div class="row">
  <div class="large-9 small-centered columns">
    <img src="./img/rockabellytriowharehouse.jpg" alt="RockaBelly Full Throttle" width="700">
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
   

    		<a href="#/show">Events and Free classes during Bay Area Dance Week!</a>
    	
    	
    		<img src="./img/IMG_4080-de.jpg" alt="RockaBelly Unicorns" width="300">
    		<ul>
    		<li>How Weird Street Fair April 26th</li>
    		<li>Underground Nomads with free Bellydance class April 28</li>
    	<li>Free Bellydance class and RockaBelly show April 30</li>
   </ul>
    
  </div>
  <div class="large-4 columns">
    

  
    <h3>Sign up for our <a href="mailto:rockakamille@yahoo.com">mailing list</a></h3>
    <h3></h3>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg" alt="FB"></a>
    </h3>
 <ul>
   <li> <h3>RockaBelly is a Theatrical Rock Fusion Belly Dance Company based in the San Francisco Bay Area.
    These ladies love to put on a show mixing bellydance, western dance, and ethnic dance using a punk rock n' roll aesthetic. </h3>
    </li>
    </ul>

  </div>
  <div class="large-4 columns">
    <ul>
       <li> <h2>LATEST </h2>
       </li>
       
       
        <li>
        	<h4>RockaBelly at How Weird Street Faire Apr 26</h4>
        	<h4>Fundraiser show Apr 11</h4>
        	</li>
        	<li>
        	<h4>Kamille at Underground Nomads April 28</h4></li>
        <li>
        	<h4>Free Thursday class April 30</h4>
        	
        <li>
        	
        	<h4>Tribal Fest May 12- 17</h4>
        	<h4>Floorwork Workshop with Kamille May 15</h4>
        	<h4>RockaBelly and The Playthings perform May... 15 or 16! TBA</h4>
        </li>
        <li>
        	<h4>RockaBelly performs at Underground Nomads May 26</h4>
        </li>
        <li>
        	<h4>Kamille at Underground Nomads June 23</h4>
        </li>
        <li>
        	<h4>Kamille solo and RockaBelly at Shake the Bay July 11</h4>
        </li>
    </ul>
  </div>
</div>