<div class="row">
  <div class="large-9 small-centered columns">
    <img src="./img/5gate.jpg" alt="RockaBelly Full Throttle" width="700">
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
   <ul>
 <li>
    		<a href="#/store">Wintermoon Tickets</a>
    	</li>
    	<li>
    		<img src="./img/Wintermoon facebook skinny blue.jpg" alt="Winter Moon Poster" width="300">
    	</li>
    </ul> 
    
  </div>
  <div class="large-4 columns">
    
 
    <h3></h3>
    <h3>Sign up for our <a href="mailto:rockakamille@yahoo.com">mailing list</a></h3>
    <h3></h3>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg"></img></a></h3>
 <ul>
    <h3>RockaBelly is a Theatrical Rock Fusion Belly Dance Company based in the San Francisco Bay Area.
    These ladies love to put on a show mixing bellydance, western dance, and ethnic dance using a punk rock n' roll aesthetic. </h3>
    </ul>
 
  </div>
  <div class="large-4 columns">
    <ul>
        <h2>LATEST </h2>
       
        <li> Rockabelly at Dangerous Beauties Nov 15</li>
        <li>RockaBelly and The Playthings present Winter Moon Dec 6</li>
        <li>
        	<h4>Thursday classes </h4>
        	<h4>Holiday break from Dec 18-Jan 1</h4>
        	<h4>Midwinter session starts Jan 8!</h4></li>
        
    </ul>
  </div>
</div>