<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/5gate.jpg" alt="RockaBelly Full Throttle" width="700">
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <h3>RockaBelly is a Theatrical Rock Fusion Belly Dance Company based in the San Francisco Bay Area.
    These ladies love to put on a show mixing bellydance, western dance, and ethnic dance using a punk rock n' roll aesthetic. </h3>
    <h3></h3>
    
  </div>
  <div class="large-6 columns">
    <h3>Welcome to our new website!</h3>
    <h4>Events and Classes are fully updated. Stay tuned for the Store, Visuals, and Dancers pages to form.</h4>
    <h3></h3>
    <h3>Sign up for our <a href="mailto:rockakamille@yahoo.com">mailing list</a></h3>
    <h3></h3>
    <h3>Find us on facebook:<a href="http://www.facebook.com/pages/Kamille-RockaBelly/110532439035407"><img id="fb" src="img/fb_cracked.jpeg"></img></a></h3>
   
  </div>
  <div class="large-3 columns">
    <ul>
        <h2>LATEST </h2>
        	
       <h3></h3>
        		<li> We are in week 4 of our Thursday Class series</li>
        		<h3></h3>
        <li> Dancer Signups for Deney Salonu are going on now... email rockakamille(at)yahoo.com </li>
        <h3></h3>
        <li> Fireside Lounge on Oct 11 at The Crucible</li>
        <h3></h3>
        <li> Rocky Horror Preshow on Oct 25 in Richmond</li>
    </ul>
  </div>
</div>