<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/onthefloor.jpg" alt="Putting up the Screen" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <ul>
    	<li>
    		<a href="#/video">Videos</a>
    	</li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul>
    	<li>
    		<a href="#/stills">Rockabelly Stills</a>
    	</li>
    </ul>
  </div>
  <div class="large-4 columns">
     <ul>
    	<li>
    		<a href="#/plaything-stills">Rockabelly Playthings Stills</a>
    	</li>
    </ul>
  </div>
</div>
