<div class="row">
  <div class="large-9 large-centered columns">
  	<div align="center">
    <img src="./img/onthefloor.jpg" alt="Superheroes with Swords" width="500">
  </div>
</div>
</div>

<div class ="row">
  <div class="large-4 columns">
  	<div align="center">
    <ul>
    	<li>
    		<h3><a href="#/videos">Videos</a></h3>
    	</li>
    	<li>
    		<h4>Latest video- RockaBelly and The Playthings at Tribal Fest!</h4>
    		<a href="https://www.youtube.com/watch?v=u9KPnHgH58M">See the Video on Youtube</a>
    	</li>
    	<li>
    	<img src="./img/2015tfamberettasolo.jpg" alt="RockaBelly and the Playthings Tribal Fest 2015" width="200">
    	</li>
    </ul>
  </div>
  </div>

  
  <div class="large-4 columns">
  	<div align="center">
    <ul>
    	<li>
    		<h3><a href="#/stills">Rockabelly Stills</a></h3>
    	</li>
    	<img src="./img/2015tfrockabelly.jpg" alt="RockaBelly Janis Joplin" width="200">
    </ul>
  </div>
  </div>
  
  
  <div class="large-4 columns">
  	<div align="center">
     <ul>
    	<li>
    		<h3><a href="#/plaything-stills">Rockabelly Playthings Stills</a></h3>
    	</li>
    	<img src="./img/2015stairs.jpg" alt="Laughing Ladies on the Stairs" width="200">
    </ul>
  </div>
</div>
 </div>
