
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/nakedimagephotography.jpg" alt="Spinal Tap Dance" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns">
    <img src="./img/backbendtrio.jpg" alt="Colorful RockaBellies Backbend" width="700">
    <img src="./img/fansweep.jpg" alt="Red Fans Backbend" width="700">
  </div>
  <div class="large-4 columns">
    <h3>UPCOMING EVENTS</h3>
    <ul>
        <li>Thursday Class FREE! </li>
  
        <h4>May 1</h4>
        <h4>6- 7:30pm </h4>
        <h4> Ellen Webb Studio, 2822A Union St., Oakland, CA.</h4> 
        <h4>We will also have a short show by RockaBelly and the Playthings at the end of class!</h4>
        
        <li>May 17th RockaBelly and The Playthings at Tribal Fest</li>
        <h4>Sebastopol, CA      http://www.blacksheepbellydance.com/tf14/</h4>
        <li>performance slot 7:30pm sharp</li>
        
        
        <li>End September Deney Salonu</li> 
        <h4>RockaBelly's Experimental Dance Salon</h4>
        <h4>6:30-9:30pm</h4>
        <h4>Location TBD</h4>
        <h4>Suggested Donation $5-10</h4>    
    
        
   
    </ul>
  </div>   
  <div class="large-4 columns">
    
    <img src="./img/lotsa fire.jpg" alt= "Fire Fans" width="700">
    <img src="./img/IMG_4080-de.jpg" alt="Unicorns Onstage" width="700">
  </div>
</div>
