
<div class="row">
  <div class="large-9 large-centered columns">
    <img src="./img/nakedimagephotography.jpg" alt="Spinal Tap Dance" width="700">
  </div>
</div>
<div class ="row">
  <div class="large-4 columns border">
    <img src="./img/backbendtrio.jpg" alt="Colorful RockaBellies Backbend" width="700">
    <img src="./img/fansweep.jpg" alt="Red Fans Backbend" width="700">
  </div>
  <div class="large-4 columns border">
    <h3>UPCOMING EVENTS AND CLASSES</h3>
    <ul>
        <li>Thursday Classes in West Oakland, CA</li>
  
        <h4>Aug 1- Sept 30 Late Summer class session with Kamille</h4>
        <h4>5:30- 6pm Basics, 6- 7:30pm Mixed Level </h4>
        <h4> Ellen Webb Studio, 2822A Union St., Oakland, CA.</h4> 
        <h4>$15 Drop-in, class cards available</h4>
        
        <li>September 14 Deney Salonu</li> 
        <h4>RockaBelly's Experimental Dance Salon</h4>
        <h4>6:30-9:30pm</h4>
        <h4>Studio 12, Berkeley, CA</h4>
        <h4>Suggested Donation $5-10</h4>    
    
        <li>October 11 RockaBelly on Fire at the Crucible's Fireside Lounge</li>
        <h4>Oakland, CA      www.thecrucible.org</h4>
        <li>October 25 RockaBelly and The Playthings Preshow at the Rocky Horror Picture Show</li>
        <h4>Parkway Theater, Albany, CA</h4>
        <h4>11:30pm</h4>
   
    </ul>
  </div>   
  <div class="large-4 columns border">
    
    <img src="./img/lotsa fire.jpg" alt= "Fire Fans" width="700">
    <img src="./img/IMG_4080-de.jpg" alt="Unicorns Onstage" width="700">
  </div>
</div>
