
<div class="row">
  <div class="large-9 large-centered columns">
    <h3>UPCOMING EVENTS</h3>
  </div>
</div>
<div class ="row">
  <div class="large-6 columns">
    <li>
    	<img src="./img/KamRavenRetta.jpg" alt="Charlie's Angels" width="700">
    </li>
   
    <img src="./img/fansweep.jpg" alt="Red Fans Backbend" width="700">
  </div>
  <div class="large-6 columns">
    
    <ul>
    	
   <li>UNDERGROUND NOMADS- FREE DANCE CLASS AND SHOW</li>
    	<h4>Tuesday April 28</h4>
        <h4>Doors at 8, show at 9pm</h4>
        <h4>Free for Bay Area Dance Week! 21+</h4> 
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com">Underground Nomads</a></h4>
        
    
        <h4>Free dance class with Kamille at 8pm!</h4>
        <h4>Kamille dances solo at this cozy community night</h4>
       
        	
   <li>FREE DANCE CLASS AND SHOW WITH ROCKABELLY FOR BAY AREA DANCE WEEK</li>
      
    	<h4>Thursday April 30</h4>
    	  <h4>6-7:30pm</h4>
        <h4>Ellen Webb Dance Studio, 2822A Union Street, Oakland, CA</h4>
        <h4>RockaBelly and The Playthings will give a short performance at the end of class!</h4> 
        <h4>Wear clothing you feel comfortable in.</h4>
        
        <li>KAMILLE HITZ, ROCKABELLY AND THE PLAYTHINGS AT TRIBAL FEST
        
        </li>
        	<ul>
<h4>May 12-17th </h4>
<h4>Sebastopol, CA </h4>   
<h4><a href="http://blacksheepbellydance.com/tf15/">Tribal Fest Website</a></h4> 
        </ul>
        <ul>
<h4>Friday May 15 Kamille's Floorwork workshop 10am-12noon</h4>
 <h4>Shopping cart is closed to pregister for Kamille's workshop, but you can still drop in! Kamille will also be teaching the strengthening and stretching you need to execute these movements. Come wiggle and writhe on the floor</h4>
</ul>
<ul>Saturday May 16 RockaBelly and The Playthings perform onstage at 3:15pm!</ul>

 
 <li>ROCKABELLY AT UNDERGROUND NOMADS</li>
    	<h4>Tuesday May 26</h4>
        <h4>Doors at 8, show at 9pm</h4>
        <h4>$5 at the door, 21+</h4> 
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com">Underground Nomads</a></h4>
        <h4>RockaBelly performs live</h4>
        	
        	<li>KAMILLE AT UNDERGROUND NOMADS</li>
    	<h4>Tuesday June 23</h4>
        <h4>Doors at 8, show at 9pm</h4>
        <h4>$5 at the door, 21+</h4> 
        <h4>F8, 1192 Folsom St., San Francisco, CA</h4>
        <h4><a href="https://undergroundnomads.wordpress.com">Underground Nomads</a></h4>
        <h4>Kamille performs solo at this cozy community night</h4>
        
        <li>KAMILLE AND THE PLAYTHINGS AT SHAKE THE BAY</li>
    	<h4>Saturday July 11</h4>
        <h4>7- 10pm</h4>
        <h4>$25-30</h4> 
        <h4>Brava Theater, San Francisco, CA</h4>
        <h4><a href="https://www.vendini.com/ticket-software.html?t=tix&e=7f8cf072f63bf117e9dc09db3fad6e34">Tickets</a></h4>
        <h4><a href="https://www.facebook.com/events/771767099544597/">Shake the Bay Facebook</a></h4>
        <h4>A night of fantastic dance to raise money for Alzheimers</h4>
        	       
   <img src="./img/spinaltap.jpg" alt="Spinal Tap Dance" width="700">
    </ul>
  </div>   
  <div class="large-4 columns">
    
    <img src="./img/lotsa fire.jpg" alt= "Fire Fans" width="700">
    
  </div>
</div>
